* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color:#3EBCE4;
    color: black;
}

header {
    height: 3.5em;
    margin-bottom: 1em;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 5em;

}

h2 {
    margin-top: 1.5em;
    font-size: 2em;
}

h3 {
    margin-top: 1em;
    font-size: 1.5em;
}

p {
    margin: 1em;
    font-weight: bold;
}

input {
    margin: 1em;
}

#name2submit {
    margin: 1.5em;

}
.grid {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.field {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8D744;
}

#return-main-page-button,
#restart-button {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;;
    height: 100px;
    width: 170px;
    margin: 1.5em;
    background-color: #CA2424;
    border-radius: 10%;
}

.flex-cnt { 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

a {
    text-decoration: none;
}